body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background: #eee;
    padding: 8px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
ul li.checked {
    text-decoration: line-through;
    color: gray;
}
ul li.checked {
    text-decoration: line-through;
    color: gray;
}